button {
    font-size: 1.2rem; /* Augmente la taille de la police */
    padding: 0.5rem 1.5rem; /* Augmente la taille du bouton */
    border-radius: 5px; /* Arrondit les coins du bouton */
    border-color: aqua;
    background-color: #fafbfc; /* Change la couleur de fond du bouton */
    color: black; /* Change la couleur du texte du bouton en blanc */
    margin-right: 1rem; /* Ajoute un espacement entre le bouton et le texte */
    margin-left: 60px;
    margin-top: 20px;
  }
  
  span {
    font-family: Arial, sans-serif; /* Change la police du texte */
    color: #fff; /* Change la couleur du texte en blanc */
  }
  