  button {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    background-color: black;
    color: #fff;
    margin-right: 1rem;
    margin-left: 60px;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #d47c00;
  }
  
  span {
    font-size: 1.2rem;
    color: #fff;
  }
  