//colour variables
$background-color: rgb(25, 25, 27);
$background-color-hover: #2e2e2e;
$cyan-text: rgb(136, 231, 243);
$cyan-glow: rgb(123, 226, 252);
$cyan-border: rgb(126, 222, 235);
$cyan-border-left: rgba(109, 188, 199, 0.774);
$orange-glow: rgb(255, 60, 60);
$orange-border: #ff9900ff;
$orange-border-left: rgba(255, 153, 0, 0.774);

#roomInfo {
    color: white;
    font-size: 30px;
    margin: auto;
    width: 30%;
    padding: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

button {
    background-color: $background-color;
    padding: 15px;
    border-radius: 2px;
    color: $cyan-text;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    font-family: 'Cyber', sans-serif;
    border: 3px solid $orange-border;
    box-shadow: 0 0 30px 4px $orange-glow;
    border-left: 10px solid $orange-border-left;

    &:hover {
        background-color: $background-color-hover;
        border: 3px solid $cyan-border;
        box-shadow: 0 0 30px 4px $cyan-glow;
        border-left: 10px solid $cyan-border-left;
    }
    &:active {
        box-shadow: 0 0 30px 8px $cyan-glow;
    }
}
.spinner {
    width: 50%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
circle {
    display: flex;
    justify-content: center;
    align-items: center;
}
