<div class="container justified">
    <h1 class="header-item">Créez votre propre jeu !</h1>
    <div class="middle-container">
        <section class="image-section">
            <div class="image-container">
                <img src="" alt="Image 1" />
                <button>Téléverser</button>
            </div>
            <div class="image-container">
                <img src="" alt="Image 2" />
                <button>Téléverser</button>
            </div>
        </section>
        <button>Téléverser</button>
    </div>
</div>
