.image-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 100%;
    border: 1px solid black;
    margin: auto;
}

.image-area {
    display: flex;
}
.image {
    width: 50%;
    margin: 20px;
}
#same-image {
    display: block;
}
