.return-btn {
    //align-self: flex-start;
    position: fixed;
    left: 75px;
    top: 75px;
}
.save-btn {
    align-self: flex-end;
    position: fixed;
    right: 75px;
    bottom: 75px;
}
.image-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 100%;
    border: 1px solid black;
    margin: auto;
}
.image-area {
    display: flex;
}
.image {
    width: 50%;
    margin: 20px;
}
#same-image {
    display: block;
}
