.middle-container {
    display: inline-block;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button {
    margin-top: 10px;
    text-align: center;
}
.image-container {
    top: 50%;
    left: 50%;
}
.image-section div {
    display: inline;
}
