<button id="settings" (click)="openSettings()">
    <img src="./assets/setting_icon.png" />
</button>

<ng-template #settingsPopupTemplate>
    <h2 mat-dialog-title>Paramètres</h2>
    <mat-dialog-content>
        <div class="container">
            <mat-form-field>
                <mat-label>Temps initial du compte à rebours (en secondes)</mat-label>
                <input matInput type="number" [(ngModel)]="countdownTime" min="10" max="120" />
                <mat-hint>Par défaut: 30 secondes (Min: 10 sec, Max: 120 sec)</mat-hint>
                <mat-error *ngIf="countdownTime < 10 || countdownTime > 120">La valeur doit être comprise entre 10 et 120 secondes</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Temps de pénalité pour l'utilisation d'un indice (en secondes)</mat-label>
                <input matInput type="number" [(ngModel)]="penaltyTime" min="1" max="30" />
                <mat-hint>Par défaut: 5 secondes (Min: 1 sec, Max: 30 sec)</mat-hint>
                <mat-error *ngIf="penaltyTime < 1 || penaltyTime > 30">La valeur doit être comprise entre 1 et 30 secondes</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Temps gagné avec la découverte d'une différence (en secondes)</mat-label>
                <input matInput type="number" [(ngModel)]="timeGained" min="1" max="30" />
                <mat-hint>Par défaut: 5 secondes (Min: 1 sec, Max: 30 sec)</mat-hint>
                <mat-error *ngIf="timeGained < 1 || timeGained > 30">La valeur doit être comprise entre 1 et 30 secondes</mat-error>
            </mat-form-field>
            <button mat-button (click)="resetValues()">Réinitialiser les valeurs</button>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="close()">Annuler</button>
        <button mat-button [disabled]="countdownTime < 10 || countdownTime > 120 || penaltyTime < 1 || penaltyTime > 30 || timeGained < 1 || timeGained > 30" (click)="save()">Sauvegarder</button>
    </mat-dialog-actions>
</ng-template>
