.container {
    height: 100%;
    display: flex;
    background-color: #8822ff;
}

.play-area-container {
    flex: 1 1 auto;
}

.play-area {
    display: flex;
    width: min-content;
    outline: none;
    min-height: 57vh;
    min-width: 73vw;
}
