<div [class]="replayMode ? 'container disable-click' : 'container click'">
    <section class="play-area-container">
        <app-top-bar name="Nom de la fiche" [single]="false"></app-top-bar>
        <app-play-area class="play-area" tabindex="0"></app-play-area>
        <app-give-up-button text="Abandonner" ></app-give-up-button>
    </section>
    <app-sidebar difficulty="Facile" mode="1 VS 1" total="5" penalty="5"></app-sidebar>
</div>
<div *ngIf="replayMode" class="replay-overlay" [style.display]="replayMode ? 'block' : 'none'">
    <app-replay-area></app-replay-area>
</div>

<div class="popup-overlay" [style.display]="showPopup ? 'block' : 'none'">
    <div id="winningPopup" class="popup" [style.display]="showPopup ? 'block' : 'none'">
        <div class="popup-content">
            <h2 *ngIf="isWinner">Félicitations!</h2>
            <h2 *ngIf="!isWinner" style="font-weight: normal;">Skill Issue I guess!</h2>
            <p>{{winningPlayer}} a gagné la partie!</p>
            <img
                src="https://img.freepik.com/free-vector/congratulations-lettering-with-balloon-confetti_157027-208.jpg?w=1380&t=st=1675722717~exp=1675723317~hmac=4626b75cdc84caa569fbd63dc464074a456397097df109324a37f8c3c69f5e60"
                alt="Winner"
            />
            <button (click)="startReplay()">VOIR UNE REPRISE VIDEO DE LA PARTIE</button>
            <button id="returnBtn" routerLink="/home" (click)="returnToMainMenu()">RETOURNER AU MENU PRINCIPAL</button>
        </div>
    </div>
</div>
