<p class="indication">Choissisez un jeu!</p>
<div class="container">
    <app-game-card [gameTitle]="'Angry Birds'" [imageUrl]="'https://upload.wikimedia.org/wikipedia/en/2/2d/Angry_Birds_promo_art.png'">
    </app-game-card>
    <app-game-card [gameTitle]="gameTitle2"></app-game-card>
    <app-game-card [gameTitle]="gameTitle3"></app-game-card>
    <app-game-card [gameTitle]="gameTitle4"></app-game-card>
</div>

<!-- 
    <div class="container">
    <app-sidebar></app-sidebar>
    <section class="play-area-container">
        <app-play-area class="play-area" tabindex="0"></app-play-area>
    </section>
    </div>
 -->
