<div class="container justified">
    <p class="indication">Choissisez un jeu!</p>
    <div class="game-card-container">
        <app-game-card [gameTitle]="'Angry Birds'" [imageUrl]="'https://i.stack.imgur.com/6umGW.png'" class="component"> </app-game-card>
        <app-game-card [gameTitle]="gameTitle2" [imageUrl]="'https://i.stack.imgur.com/6umGW.png'" class="component"></app-game-card>
        <app-game-card [gameTitle]="gameTitle3" [imageUrl]="'https://i.stack.imgur.com/6umGW.png'" class="component"></app-game-card>
        <app-game-card [gameTitle]="gameTitle4" [imageUrl]="'https://i.stack.imgur.com/6umGW.png'" class="component"></app-game-card>
    </div>
</div>
