$background-color: rgba(0, 0, 0, 0.644);
$background-color-hover: #2e2e2e;
$cyan-text: rgb(139, 183, 240);
$cyan-glow: rgb(123, 226, 252);
$blue-border: rgb(131, 172, 247);
$blue-glow: rgb(85, 131, 218);
$cyan-border: rgb(126, 222, 235);
$cyan-border-left: rgba(109, 188, 199, 0.774);
$orange-glow: rgb(255, 60, 60);
$orange-border: #ff9900ff;
$orange-border-left: rgba(255, 153, 0, 0.774);

.container {
    display: flex;
    justify-content: center;
}
.speed-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: $background-color;
    position: relative;
    align-items: center;
    padding: 10px;
    border-radius: 2px;
    color: $cyan-text;
    text-decoration: none;
    overflow: hidden;
    margin: 15px;
    font-size: 40px;
    font-family: 'Cyber', sans-serif;
    border: 2px solid $orange-border;
    box-shadow: 0 0 30px 4px $orange-glow;
    border-left: 5px solid $orange-border-left;
    transition: all 0.1s linear;

    &:hover {
        background-color: $background-color-hover;
        border: 2px solid $cyan-border;
        box-shadow: 0 0 30px 4px $cyan-glow;
        border-left: 5px solid $cyan-border-left;
    }
    &:active {
        box-shadow: 0 0 30px 4px $cyan-glow;
    }
}
p {
    padding: 10px;
    font-size: 40px;
    color: $cyan-text;
    justify-content: center;
    text-align: center;
}
img {
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.give-up {
    justify-content: center;
    align-items: center;
}
