<div class="bigContainer">
    <div class="container">
        <h3>{{ gameTitle }}</h3>
        <div class="image-container">
            <img [src]="imageLink" />
        </div>
        <div [ngStyle]="{ 'background-color': color }" id="difficulty">
            <span>{{ levelText }}</span>
        </div>
        <div class="best-times-container">
            <h4>Meilleurs temps</h4>
            <div class="solo">
                <h4>Solo</h4>
                <div
                    *ngFor="let time of bestSoloTimes.slice(0, 3); let i = index"
                    class="best-time"
                    [ngClass]="{ gold: i === 0, silver: i === 1, bronze: i === 2 }"
                >
                    <span>{{ time.name }} {{ time.time }}</span>
                </div>
            </div>
            <div class="oneVsOne">
                <h4>1vs1</h4>
                <div
                    *ngFor="let time of best1vs1Times.slice(0, 3); let i = index"
                    class="best-time"
                    [ngClass]="{ gold: i === 0, silver: i === 1, bronze: i === 2 }"
                >
                    <span>{{ time.name }} {{ time.time }}</span>
                </div>
            </div>
        </div>

        <div class="button-container">
            <button *ngIf="!configuration" id="settings" (click)="openSettings()">Jouer en solo</button>
            <div *ngIf="!configuration" id="settings" (click)="saveGameName()" routerLink="/waitingRoom">
                <button *ngIf="createButton">Créer une partie 1vs1</button>
                <button *ngIf="!createButton">Joindre une partie 1vs1</button>
            </div>
            <button *ngIf="configuration" (click)="deleteGame(gameTitle)">Supprimer partie</button>
            <button *ngIf="configuration">Réinitialiser les meilleurs temps</button>
        </div>

        <ng-template #namePopupTemplate>
            <h2 mat-dialog-title>Paramètres de jeu - Mode classique</h2>
            <mat-dialog-content>
                <div class="container">
                    <mat-form-field>
                        <mat-label>Nom d'utilisateur</mat-label>
                        <input matInput type="text" [(ngModel)]="userName" [minlength]="4" maxlength="15" #inputRef="ngModel" required />
                        <mat-error *ngIf="inputRef.invalid && (inputRef.dirty || inputRef.touched)">
                            Le nom d'utilisateur doit comporter au moins 4 caractères petit coquin
                        </mat-error>
                        <mat-hint>min. 4 et max. 15 caractères</mat-hint>
                    </mat-form-field>
                    <div id="char-count">
                        <mat-hint *ngIf="userName">{{ userName.length }} caractères entrés</mat-hint>
                    </div>
                </div>
            </mat-dialog-content>
            <mat-dialog-actions>
                <button mat-button mat-dialog-close>Annuler</button>
                <button
                    mat-button
                    (click)="saveUserName()"
                    [disabled]="!inputRef.valid"
                    [mat-dialog-close]="true"
                    [routerLink]="inputRef.valid ? ['/game'] : []"
                >
                    Sauvegarder
                </button>
            </mat-dialog-actions>
        </ng-template>
        <ng-template #notAvailableTemplate>
            <h2 mat-dialog-title>Le jeu que vous voulez accèder a été supprimé récemment</h2>
            <mat-dialog-content>
                <div class="container">
                    <p>Veuillez retourner à la page de sélection et choisir un autre jeu</p>
                </div>
            </mat-dialog-content>
            <mat-dialog-actions>
                <button mat-button routerLink="/game-selection" mat-dialog-close>OK</button>
            </mat-dialog-actions>
        </ng-template>
    </div>
</div>
