.bigContainer {
    position: static;
}
.bigContainer .container {
    position: relative;
    height: 35vh;
    width: 65vh;
    border: 4px solid rgb(126, 222, 235);
    margin-right: 10%;
    margin-left: 13%;
    margin-top: 5%;
    background-color: rgb(202, 202, 202);

    border-radius: 10px;
    color: rgb(0, 0, 0);
    opacity: 0.9;

    border-radius: 4px;
    font-family: 'Roboto', sans-serif;

    &::after {
        position: absolute;
        top: 100%;
        left: 100%;
        transform: translate(-50%);
        color: #bdffc5;
        transition: all 20.8s linear;
    }

    &::before {
        content: '';
        position: absolute;
        display: block;
        height: 15px;
        width: 15px;
        background: #44c6f6;
        box-shadow: 0px 0px 10px 4px rgb(230, 195, 23);
        opacity: 0;
        transition: all 0.1s linear;
        border-radius: 100%;
        animation: star 1.3s linear infinite;
    }

    @keyframes star {
        0% {
            margin-left: -0px;
            margin-top: -8px;
        }
        25% {
            margin-left: 99%;
            margin-top: -8px;
        }

        50% {
            margin-left: 99%;
            margin-top: 53%;
        }
        75% {
            margin-left: -8px;
            margin-top: 53%;
        }
        100% {
            margin-left: -8px;
            margin-top: -8px;
        }
    }

    &:hover {
        &::before {
            opacity: 1;
            animation: star 9s linear infinite;
        }
        background-color: rgb(169, 169, 169);
    }
}

.container img {
    position: absolute;
    width: 40%;
    height: 65%;
    left: 3%;
    bottom: 5%;
}

.container h3 {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 3%;
}

.container #difficulty {
    position: absolute;
    top: 5%;
    left: 3%;
    width: 30%;
    height: 13%;
    border-radius: 10px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    font-size: 1.5em;
}

.container .button-container {
    position: absolute;
    bottom: 5%;
    left: 45%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.container .button-container button {
    flex: 1;
    margin: 0 5px;
    padding: 2px;
    border-radius: 10%;
    min-height: 40px;
    position: relative;
    word-wrap: break-word;
    text-align: center;
    border-radius: 20%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

    border-color: rgb(136, 231, 243);
    cursor: pointer;

    border: 2px solid #333;
    border-radius: 25px;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    //font-size: 16px;

    &:hover {
        background-color: rgb(8, 52, 58);
        color: #fff;
        transform: translateY(-2px);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        color: white;
    }
}
