//Color variables
$background-color: #2e2e2e;
$background-color-hover: rgb(169, 169, 169);
$cyan-text: rgb(136, 231, 243);
$cyan-glow: rgb(123, 226, 252);
$cyan-border: rgb(126, 222, 235);
$cyan-border-left: rgba(109, 188, 199, 0.774);
$orange-glow: rgb(255, 60, 60);
$orange-border: #ff9900ff;
$orange-border-left: rgba(255, 153, 0, 0.774);
$blue-border: rgb(131, 172, 247);
$blue-glow: rgb(85, 131, 218);

.bigContainer .container {
    position: relative;
    height: 35vh;
    width: 65vh;
    border: 4px solid $cyan-border;
    box-shadow: 0 0 30px 4px $cyan-glow;
    margin-right: 10%;
    margin-left: 13%;
    margin-top: 5%;
    background-color: $background-color;
    color: $cyan-text;
    opacity: 0.9;
    border-radius: 4px;
    font-family: 'Cyber', sans-serif;

    &::after {
        position: absolute;
        top: 100%;
        left: 100%;
        transform: translate(-50%);
        color: #bdffc5;
        transition: all 20.8s linear;
    }

    &::before {
        content: '';
        position: absolute;
        display: block;
        height: 15px;
        width: 15px;
        background: #44c6f6;
        box-shadow: 0px 0px 10px 4px $blue-glow;
        opacity: 0;
        transition: all 0.1s linear;
        border-radius: 100%;
        animation: star 1.3s linear infinite;
    }

    @keyframes star {
        0% {
            margin-left: -0px;
            margin-top: -8px;
        }
        25% {
            margin-left: 99%;
            margin-top: -8px;
        }

        50% {
            margin-left: 99%;
            margin-top: 53%;
        }
        75% {
            margin-left: -8px;
            margin-top: 53%;
        }
        100% {
            margin-left: -8px;
            margin-top: -8px;
        }
    }

    &:hover {
        &::before {
            opacity: 1;
            animation: star 9s linear infinite;
        }
        background-color: $background-color-hover;
    }
}

.container img {
    position: absolute;
    width: 40%;
    height: 65%;
    left: 3%;
    bottom: 5%;
}

.container h3 {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 3%;
}

.container #difficulty {
    position: absolute;
    top: 5%;
    left: 3%;
    width: 30%;
    height: 13%;
    border-radius: 10px;
    color: $cyan-text;
    text-align: center;
    border: 3px solid $blue-border;
    box-shadow: 0px 0px 10px 4px $blue-glow;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    font-size: 1.5em;
    color: white;
}

.container .button-container {
    position: absolute;
    bottom: 5%;
    left: 45%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.container .button-container button {
    flex: 1;
    margin: 0 5px;
    padding: 2px;
    min-height: 40px;
    position: relative;
    word-wrap: break-word;
    text-align: center;
    background-color: $background-color;
    color: $cyan-text;
    cursor: pointer;
    border: 3px solid $orange-border;
    box-shadow: 0px 0px 10px 3px $orange-glow;
    border-radius: 2px;
    font-size: 0.8em;
    font-weight: bold;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: rgb(8, 52, 58);
        transform: translateY(-2px);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        color: white;
    }
}

.container .best-times-container {
    position: absolute;

    flex-direction: row;
    align-items: center;

    left: 47%;
    bottom: 18%;
}

.best-times-container h4 {
    margin-bottom: 0px;
    color: $cyan-text;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
}
.best-times-container .solo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.best-times-container .oneVsOne {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.best-times-container .solo * {
    margin-left: 5px;
}
.best-times-container .oneVsOne * {
    margin-left: 5px;
}

.gold,
.silver,
.bronze {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border: 3px;
    border-color: #333;
}

.gold {
    background-color: rgb(215, 183, 1);
}

.silver {
    background-color: rgb(146, 146, 146);
}

.bronze {
    background-color: rgba(72, 62, 23, 0.714);
}

.best-times-container span {
    color: white;
    text-align: center;
    font-size: 65%;
}

mat-form-field {
    width: 100%;
}

.container #namePopupTemplate, #namePopupTemplate1vs1 {
    position: absolute;
    top: 2%;
    right: 5%;
    width: 5%;
    height: 5%;
}

#char-count {
    float: right;
    font-size: 80%;
}

#history {
    position: relative;
    top: -15%;
    left: 88%;
    z-index: 100;
    background-color: $background-color;
    color: $cyan-text;
    border: 3px solid $orange-border;
    box-shadow: 0px 0px 10px 3px $orange-glow;
    transition: all 0.2s ease-in-out;
    width: 45px;
    height: 45px;

    &:hover {
        background-color: rgb(8, 52, 58);
        transform: translateY(-2px);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        color: white;
    }
}

#historyImage {
    position: absolute;
    width: 93%;
    height: 93%;
}
