<div class="container justified">
    <h1 class="header-item">{{ title }}</h1>
    <section id="server-message" class="justified">
        <div class="justified">
            <app-main-page-button
                id="btn-Classique"
                class="button btn-sidespacing"
                text="Classique"
                routerLink="/game-selection"
            ></app-main-page-button>
            <span class="mid-row">
                <img src="..\..\..\assets\projet2 logo.png" class="img-sidespacing" />
                <app-main-page-button id="btn-TempsLimite" class="button" text="Temps Limité" class="btn-sidespacing" routerLink="/socket"></app-main-page-button>
            </span>
            <app-main-page-button
                id="btn-Configuration"
                class="button btn-sidespacing"
                text="Configuration"
                routerLink="/config"
            ></app-main-page-button>
        </div>
    </section>
    <footer class="footer-item">
        <h4 class="team-name">Équipe 210</h4>
        <p>
            <span>Charles Arsenault</span>, <span>Yuliia Ozirska</span>, <span>Jean-Christophe Pelletier</span>, <span>Ioannis Nikoloudis</span>,
            <span>Jérémy Langevin</span>, <span>Benjamin Dancause</span>
        </p>
    </footer>
</div>
