<div class="container justified">
    <h1 class="header-item">{{ title }}</h1>
    <section id="server-message" class="justified">
        <div class="justified">
            <app-main-page-button
                id="btn-Classique"
                class="button btn-sidespacing"
                text="Classique"
                routerLink="/game-selection"
            ></app-main-page-button>
            <span class="mid-row">
                <img src="./assets/projet2 logo.png" class="img-sidespacing" />
                <app-main-page-button id="btn-TempsLimite" class="button" (click)="gamemodeSelection()" text="Temps Limité" class="btn-sidespacing" routerLink="/socket"></app-main-page-button>
            </span>
            <app-main-page-button
                id="btn-Configuration"
                class="button btn-sidespacing"
                text="Configuration"
                routerLink="/config"
            ></app-main-page-button>
        </div>
    </section>
    <footer class="footer-item">
        <h4 class="team-name">Équipe 210</h4>
        <p>
            <span>Charles Arsenault</span>, <span>Yuliia Ozirska</span>, <span>Jean-Christophe Pelletier</span>, <span>Ioannis Nikoloudis</span>,
            <span>Jérémy Langevin</span>, <span>Benjamin Dancause</span>
        </p>
    </footer>
</div>
<ng-template #gamemodeSelectionTemplate>
    <h2 mat-dialog-title>Paramètres de jeu - Mode Temps Limité</h2>
    <mat-dialog-content>
        <div class="template-container">
            <mat-form-field>
                <mat-label>Nom d'utilisateur</mat-label>
                <input matInput type="text" [(ngModel)]="userName" [minlength]="4" maxlength="15" #inputRef="ngModel" required />
                <mat-error *ngIf="inputRef.invalid && (inputRef.dirty || inputRef.touched)">
                    Le nom d'utilisateur doit comporter au moins 4 caractères petit coquin
                </mat-error>
                <mat-hint>min. 4 et max. 15 caractères</mat-hint>
            </mat-form-field>
            <div id="char-count">
                <mat-hint *ngIf="userName">{{ userName.length }} caractères entrés</mat-hint>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Annuler</button>
        <button
            mat-button
            (click)="saveUserName()"
            [disabled]="!inputRef.valid"
            [mat-dialog-close]="true"
            [routerLink]="inputRef.valid ? ['/limited-time'] : []"
        >
            Seul
        </button>
        <button
            mat-button
            (click)="saveUserNameDuo()"
            [disabled]="!inputRef.valid"
            [mat-dialog-close]="true"
            [routerLink]="inputRef.valid ? ['waitingRoom-limited'] : []"
        >
            Coopératif
        </button>
    </mat-dialog-actions>
</ng-template>
