//colour variables
$background-color: rgba(0, 0, 0, 0.82);
$cyan-text: rgb(136, 231, 243);
$blue-border: rgb(131, 172, 247);
$blue-glow: rgb(85, 131, 218);
$orange-glow: rgb(255, 60, 60);
$orange-border: #ff9900ff;

.container {
    background-image: url('https://cdna.artstation.com/p/assets/images/images/015/369/742/large/bogdan-mb0sco-arcade-static.jpg?1548087194');
    background-repeat: no;
    background-size: cover;

    min-height: 100vh;
    height: auto;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.mid-row {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    justify-content: space-around;
}
.btn-sidespacing {
    margin-left: 200px;
}
.img-sidespacing {
    width: 500px;
    height: 225px;
    margin-right: 12px;
}

.button {
    margin-top: 10px;
    text-align: center;
}

.team-name {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: $cyan-text;
}

.header-item {
    margin-top: 100px;
    font-size: 69px;
    color: $cyan-text;
    justify-content: center;
    text-align: center;
}

.footer-item {
    background-color: $background-color;
    text-align: center;
    color: $cyan-text;
    border-top: 3px solid $blue-border;
    border-left: 3px solid $blue-border;
    border-right: 3px solid $blue-border;
    box-shadow: 0 0 30px 4px $blue-glow;
    justify-content: center;
    align-content: center;
    width: 1000px;
    border-radius: 15px 15px 0 0;
}
