<div class="container">
    <div class="button-tools">
        <div class="drawing-tools">
            <button (click)="selectPen()">Draw</button>
            <button (click)="selectEraser()">Erase</button>
            <button (click)="selectRectangle()">Rectangle</button>
            <button (click)="copyLeft()">CopyLeft</button>
            <button (click)="deleteLeft()">DeleteLeft</button>
        </div>
        <div class="drawing-tools">
            <button (click)="undo()">Undo</button>
            <button (click)="redo()">Redo</button>
            <button (click)="swapDrawings()">Swap</button>
            <button (click)="copyRight()">CopyRight</button>
            <button (click)="deleteRight()">DeleteRight</button>
            <button (click)="test()">test</button>
        </div>
    </div>
    <div class="input-tools">
        <input type="color" [(ngModel)]="color" (change)="setColor()" />
        <input type="range" min="1" max="50" [(ngModel)]="radius" (change)="setRadius()" />
    </div>
</div>
