<p style="color: white; font-size: 30px; margin: auto; width: 50%; padding: 10px">Waiting room for {{gameTitle}}</p>
<div *ngIf="incomingPlayer()" style="margin: auto; width: 50%; padding: 10px">
    <p style="color: cyan; font-size: 30px;">Player {{joiningPlayer}} is attempting to join game. Accept?</p>
    <button style="margin: auto; width: 50%; padding: 10px" (click)="startOneVsOneGame()">ACCEPT</button>
    <button style="margin: auto; width: 50%; padding: 10px" (click)="rejectPlayer()">REJECT</button>
</div>
<div style="margin: auto; width: 50%; padding: 10px">
    <button style="margin: auto; width: 50%; padding: 10px" (click)="leaveLobby()">CLICK HERE TO LEAVE LOBBY</button>
</div>
