<div class="container">
    <img id="logo" src="..\..\..\assets\projet2 logo.png"/>
    <p><strong>Difficulté : {{ difficulty }}</strong></p>
    <p><strong>Mode {{ mode }}</strong></p>
    <p><strong>Différences Totales : {{ total }}</strong></p>
    <p><strong>Pénalité par erreur : {{ penalty }}s</strong></p>
    <div class="horizontal-bar"></div>
    <div id="message-board">
        <div id="chat-entry-bar"></div>
    </div>
    <div class="outline">
        <app-text-box></app-text-box>
    </div>
</div>
