
.container {
    min-height: 94.4vh;
    min-width: 15vw;
    
    background-color: rgba(0, 0, 0, 75%);
    padding: 0 5px 0 5px;
    margin: 30px 30px 0 0;
    border-radius: 40px;

    border: 1px solid rgb(126, 222, 235);
    border-left: 3px solid rgba(109, 188, 199, 0.774);
    box-shadow: 0 0 30px 4px rgb(123, 226, 252);
    
}

#logo {
    width: 69%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    margin-top: 10px;
    
}

p {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 5px;
    color: white;
}



/*#message-board {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 40px;
    min-height: 40vh;
    margin-top: 5px;
    margin-bottom: 5px;
}

#message-board > #chat-entry-bar {
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    min-height: 4vh;
    min-width: 18.2vw;
    position: absolute;
    bottom: 35px;
    margin-left: 12px;
}*/

.horizontal-bar {
    border: 1px solid white;
    margin-top: 20px;
    margin-bottom: 10px;
}

.text-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    color: black;
    min-width: 100px;
    min-height: 60px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.99);
    border: 1px solid rgb(123, 226, 252);
    border-left-width: 3px;
    border-left-color: rgba(123, 226, 252, 0.774);
    box-shadow: 0 0 30px 4px rgb(123, 226, 252);
    }

