$background-color: rgba(0, 0, 0, 0.644);
$background-color-hover: #2e2e2e;
$cyan-text: rgb(136, 231, 243);
$cyan-glow: rgb(123, 226, 252);
$blue-border: rgb(131, 172, 247);
$blue-glow: rgb(85, 131, 218);
$cyan-border: rgb(126, 222, 235);
$cyan-border-left: rgba(109, 188, 199, 0.774);
$orange-glow: rgb(255, 60, 60);
$orange-border: #ff9900ff;
$orange-border-left: rgba(255, 153, 0, 0.774);
.mat-slider {
    width: 300px;
    font-family: 'Cyber', sans-serif;
    border: 3px solid $orange-border;
    box-shadow: 0 0 30px 4px $orange-glow;
    border-left: 10px solid $orange-border-left;
    transition: all 0.1s linear;

    &:hover {
        background-color: $background-color-hover;
        border: 3px solid $cyan-border;
        box-shadow: 0 0 30px 4px $cyan-glow;
        border-left: 10px solid $cyan-border-left;
    }
    &:active {
        box-shadow: 0 0 30px 8px $cyan-glow;
    }
}
.mat-slider-thumb-label {
    background-color: aqua;
}

.mat-slider + span {
    color: $cyan-text;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 0 0 10px $cyan-glow;
    margin: 5px;
}
