.canvas {
    background-color: white;
}

#canvas-1 {
    margin-left: 70px;
    margin-right: 40px;
    
    border: 1px solid rgb(126, 222, 235);
    border-left: 3px solid rgba(109, 188, 199, 0.774);
    box-shadow: 0 0 30px 4px rgb(123, 226, 252);
}

#canvas-2 {
    margin-right: 70px;

    border: 1px solid rgb(126, 222, 235);
    border-left: 3px solid rgba(109, 188, 199, 0.774);
    box-shadow: 0 0 30px 4px rgb(123, 226, 252);
}

#grid-container{
    display: flex;
    margin-top: 110px;
    margin-bottom: 30px;
}

