<div id="grid-container">
    <div class="cheat-message" *ngIf="isCheatEnabled">Mode triche activé</div>
    <div id="canvasContainer">
    <canvas class="canvas" id="canvas-1" #gridCanvasLeft [attr.width]="width" [attr.height]="height">
        Your browser does not support the canvas element.
    </canvas>
    <canvas class="canvas" id="canvas-3" #gridCanvasLeftTop [attr.width]="width" [attr.height]="height">
        Your browser does not support the canvas element.
    </canvas>
    </div>
    <div id="canvasContainer">
    <canvas class="canvas" id="canvas-2" #gridCanvasRight [attr.width]="width" [attr.height]="height">
        Your browser does not support the canvas element.
    </canvas>
    <canvas class="canvas" id="canvas-4" #gridCanvasRightTop [attr.width]="width" [attr.height]="height">
        Your browser does not support the canvas element.
    </canvas>
    </div>
</div>
<div *ngIf="!single" id="indice">
<button (click)="decrementCounter()"  (click)="onIndexClick()"[disabled]="nbrIndices === 0">Indice</button>
<span>
    <img class="loupe" src="./assets/loupe.png" *ngIf="nbrIndices >= 1" />
    <img class="loupe" src="./assets/loupe.png" *ngIf="nbrIndices >= 2" />
    <img class="loupe" src="./assets/loupe.png" *ngIf="nbrIndices >= 3" />
</span>
</div>